/* Banner section */

.restoration__banner video {
  width: 100%;
  height: 559px;
  object-fit: cover;
}
.restoration__banner img {
  display: none;
}

/* Offers section */

.offers {
  display: flex;
}

.offer__block {
  width: 278px;
  margin-right: 28px;
}

.offer__image {
  position: relative;
  margin-bottom: 40px;
}

.offer__image .bg-img {
  width: 175px;
  height: 172px;
  object-fit: cover;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 0;
}
.offer__image .bg {
  background: linear-gradient(0deg, rgba(215, 217, 217, 0.9), rgba(215, 217, 217, 0.9));
  position: absolute;
  top: 20px;
  left: 20px;
  width: 175px;
  height: 172px;
  z-index: 1;
}

.offer__image .icon {
  width: 175px;
  height: 172px;
  object-fit: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Services section */

.services_block {
  display: flex;
  flex-wrap: wrap;
}

.services__card {
  width: 278px;
  margin-right: 28px;
  margin-bottom: 30px;
}

.services__card:nth-child(4n) {
  margin-right: 0;
}

.services__image {
  width: 100%;
  margin-bottom: 16px;
}

.services__image img {
  width: 100%;
}

/* Works section */

.works__block {
  display: flex;
  align-items: center;
}

.work__description {
  margin-left: 100px;
  margin-right: 24px;
  margin-top: 0;
  width: 40%;
  max-width: 481px;
}

.work__photo {
  width: 430px;
  position: relative;
}

.work__photo .bg-img {
  width: 100%;
  position: relative;
  top: 63px;
  left: 0;
  z-index: 0;
}

.work__photo .bg {
  width: 100%;
  height: auto;
  max-height: 574px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(215, 217, 217, 0.9), rgba(215, 217, 217, 0.9));
  z-index: 1;
}

.work__photo .bg img {
  width: 100%;
  opacity: 0;
}

.work__photo .before, .work__photo .after {
  width: 100%;
  position: absolute;
  top: 0;
  left: 54px;
  z-index: 2;
}

.work__photo .after {
  -webkit-animation: showafter 8s infinite;
  animation: showafter 8s infinite;
}

.work__photo .separator {
  width: 4px;
  height: calc(100% - 3px);
  background: #BCA36E;
  position: absolute;
  top: 0;
  left: 54px;
  z-index: 5;
  animation: separatoraction 8s infinite;
}

@-webkit-keyframes showafter {
  0% {
    clip:rect(0 0 auto 0);
  }
  40% {
    clip:rect(0 330px auto 0);
  }
  70% {
    clip:rect(0 130px auto 0);
  }
  100% {
    clip:rect(0 430px auto 0);
  }
}
@-webkit-keyframes separatoraction {
  0% {
    left: 54px;
  }
  40% {
    left: 384px;
  }
  70% {
    left: 184px;
  }
  100% {
    left: 482px;
  }
}
@keyframes showafter {
  0% {
    clip:rect(0 0 auto 0);
  }
  40% {
    clip:rect(0 330px auto 0);
  }
  70% {
    clip:rect(0 130px auto 0);
  }
  100% {
    clip:rect(0 430px auto 0);
  }
}
@keyframes separatoraction {
  0% {
    left: 54px;
  }
  40% {
    left: 384px;
  }
  70% {
    left: 184px;
  }
  100% {
    left: 482px;
  }
}


/* Questions section */

.questions__block {
  display: flex;
  flex-wrap: wrap;
}

.question {
  width: calc(50% - 30px);
  margin-bottom: 48px;
}
.question:nth-child(1n) {
  margin-right: 30px;
}

.question__title .span-description {
  margin-bottom: 14px;
  display: block;
}

.question__title {
  margin-bottom: 14px;
}

.question__title:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #BCA36E;
  display: block;
  position: relative;
}

@media screen and (max-width: 1440px) {
  .services_block {
    justify-content: space-between;
  }
  .services__card:nth-child(4n) {
    margin-right: 28px;
  }
  .services__card:nth-child(3n) {
    margin-right: 0;
  }

  .questions__block {
    flex-direction: column;
  }
  .question {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (max-width: 1205px) {
  .offers {
    flex-wrap: wrap;
  }
  .offer__block {
    margin-bottom: 48px;
  }
  .services__card:nth-child(4n) {
    margin-right: 0;
  }
  .services__card:nth-child(2n) {
    margin-right: 0;
  }
  .work__description {
    margin-left: 0;
  }
  .work__photo {
    width: 380px;
  }

  @-webkit-keyframes showafter {
    0% {
      clip:rect(0 0 auto 0);
    }
    40% {
      clip:rect(0 300px auto 0);
    }
    70% {
      clip:rect(0 130px auto 0);
    }
    100% {
      clip:rect(0 380px auto 0);
    }
  }
  @-webkit-keyframes separatoraction {
    0% {
      left: 54px;
    }
    40% {
      left: 354px;
    }
    70% {
      left: 184px;
    }
    100% {
      left: 432px;
    }
  }
  @keyframes showafter {
    0% {
      clip:rect(0 0 auto 0);
    }
    40% {
      clip:rect(0 300px auto 0);
    }
    70% {
      clip:rect(0 130px auto 0);
    }
    100% {
      clip:rect(0 380px auto 0);
    }
  }
  @keyframes separatoraction {
    0% {
      left: 54px;
    }
    40% {
      left: 354px;
    }
    70% {
      left: 184px;
    }
    100% {
      left: 432px;
    }
  }
}

@media screen and (max-width: 998px) {
  .work__photo {
    width: 300px;
  }

  @-webkit-keyframes showafter {
    0% {
      clip:rect(0 0 auto 0);
    }
    40% {
      clip:rect(0 230px auto 0);
    }
    70% {
      clip:rect(0 100px auto 0);
    }
    100% {
      clip:rect(0 300px auto 0);
    }
  }
  @-webkit-keyframes separatoraction {
    0% {
      left: 54px;
    }
    40% {
      left: 284px;
    }
    70% {
      left: 154px;
    }
    100% {
      left: 352px;
    }
  }
  @keyframes showafter {
    0% {
      clip:rect(0 0 auto 0);
    }
    40% {
      clip:rect(0 230px auto 0);
    }
    70% {
      clip:rect(0 100px auto 0);
    }
    100% {
      clip:rect(0 300px auto 0);
    }
  }
  @keyframes separatoraction {
    0% {
      left: 54px;
    }
    40% {
      left: 284px;
    }
    70% {
      left: 154px;
    }
    100% {
      left: 352px;
    }
  }
}

@media screen and (max-width: 768px) {
  .restoration__banner video {
    height: 447px;
  }
  .offers {
    justify-content: center;
  }
  .offer__block {
    margin-right: 0;
  }
  .offer__image .bg {
    width: 258px;
  }
  .offer__image .bg-img {
    width: 258px;
  }
  .offer__image .icon {
    width: 258px;
  }
  .services__card {
    width: 183px;
    margin-right: 16px;
  }
  .services__card:nth-last-child(2), .services__card:last-child {
    margin-bottom: 0;
  }
  .services__card:nth-child(2n) {
    margin-right: 0;
  }
  .services__card .services__image {
    width: 100%;
    height: 96px;
    object-fit: cover;
  }
  .works__block {
    flex-direction: column;
  }
  .work__description {
    margin-right: 0;
    width: 100%;
    order: 2;
    margin-top: 70px;
  }
  .question:nth-child(1n) {
    margin-right: 0;
  }

}

@media screen and (max-width: 560px) {
  .restoration__banner video {
    display: none;
    width: 100%;
    height: 559px;
    object-fit: cover;
  }
  .restoration__banner img {
    display: block;
    width: 100%;
    height: 447px;
    object-fit: cover;
  }
  .services__card {
    width: 154px;
    margin-right: 16px;
  }
  .work__description {
    margin-top: 50px;
  }
  .work__photo {
    width: 255px;
  }
  .work__photo .bg-img {
    top: 37px;
  }
  .work__photo .before, .work__photo .after {
    left: 32px;
  }
  .question__title .span-description {
    font-size: 16px;
  }

  @-webkit-keyframes showafter {
    0% {
      clip:rect(0 0 auto 0);
    }
    40% {
      clip:rect(0 200px auto 0);
    }
    70% {
      clip:rect(0 100px auto 0);
    }
    100% {
      clip:rect(0 255px auto 0);
    }
  }
  @-webkit-keyframes separatoraction {
    0% {
      left: 32px;
    }
    40% {
      left: 232px;
    }
    70% {
      left: 132px;
    }
    100% {
      left: 287px;
    }
  }
  @keyframes showafter {
    0% {
      clip:rect(0 0 auto 0);
    }
    40% {
      clip:rect(0 200px auto 0);
    }
    70% {
      clip:rect(0 100px auto 0);
    }
    100% {
      clip:rect(0 255px auto 0);
    }
  }
  @keyframes separatoraction {
    0% {
      left: 32px;
    }
    40% {
      left: 232px;
    }
    70% {
      left: 132px;
    }
    100% {
      left: 287px;
    }
  }
}

@media screen and (max-width: 380px) {
}

@media screen and (max-width: 350px) {
  .services__card {
    width: 136px;
  }
  .works__block {
    align-items: flex-start;
  }
}